.srgf_rating_div {
    width: 100px;
    vertical-align: middle;
}
label.inline {
    font-size: 20px !important;
}
.ocwma_pro_link {
    font-size: 16px !important;
    font-weight: bold !important;
    margin-left: 10px !important;
}